/obj/*.obj

/*.suo

/PtokaX.sdf

/*.opensdf

/ipch/ptokax-f61ce7fd/*.ipch

/obj/*.pdb

/compiled/*.pdb

/obj/*.tlog

/zlib/src/*.map

/obj/PtokaX.res

/PtokaX.vcxproj.user

/compiled/PtokaX.ilk

/compiled/PtokaX.exe

/obj/vc100.idb

/obj/PtokaX.vcxprojResolveAssemblyReference.cache

/obj/*.lastbuildstate

/obj/PtokaX.log
/compiled/cfg

/compiled/logs

/obj/*.unsuccessfulbuild
